/* external fonts */
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

h1{
    color: white;
    background-color: blue;
    text-align: center;

}
p{
    text-align: justify;
    line-height: 20px;
    letter-spacing: 2px;
    /* writing-mode: vertical-rl;
    text-orientation: upright; */
    word-spacing: 20px;
   /* text-decoration: underline red dotted 2px; */
    /* text-shadow: 2px 2px 4px black; */
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-variant: small-caps;
    font: italic 20px/30px Georgia, serif;
}
.rtl{
    direction: rtl;
    unicode-bidi: bidi-override;
}